.form-filling-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100%);
    width: 100%;
    max-width: 100rem;
}

.form-filling-container {
    --gap-boarder: 10px;
    position: relative;
    display: flex;
    width: calc(100% - var(--gap-boarder) * 2);
    flex-wrap: wrap-reverse;
    padding-top: 10px;
    align-items: self-start;
}

/*left and right side*/
.field-list-container,
.pdf-viewer-container {
    --top: 10px;
    --height-toolbar: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
    height: calc(100vh - var(--height-appbar) * 1.5);
}

/*left side*/
.field-list-container {
    overflow: auto;
    flex: 5 0;
}

.field-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding-top: var(--top);
}

.field-list-controls,
.field-items-controls {
    position: relative;
    display: flex;
    gap: 10px;
    padding-right: 10px;
}

/*right side*/
.pdf-viewer-container {
    height: calc(100vh - var(--height-appbar) * 1.5 - var(--height-toolbar));
    flex: 8 0;
}
@media only screen and (max-width: 600px) {
    .pdf-viewer-container {
        height: 40vh;
    }
}


/*right side*/
.react-pdf-viewer {
    position: relative;
    width: 99%;
    height: 100%;
    overflow: scroll;
}

.dialog-upload {
    width: min(400px, 80%);
    height: min(200px, 80%);
    min-width: 200px;
    min-height: 150px;
}

.viewer-toolbar {
    position: relative;
    display: flex;
    height: 32px;
    background-color: #eee;
    align-items: center;
    justify-content: space-between;
}

.document-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.page-container {
    padding: 25px;
    display: flex;
}

.flex-column {
    flex-direction: column;
    gap: 25px;
}

.viewer-sidebar {
    position: absolute;
}

