/*whole side*/
.form-filling-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--height-appbar));
    width: 100%;
    max-width: 100rem;
}

.form-filling-container {
    --gap-boarder: 10px;
    position: relative;
    display: flex;
    width: calc(100% - var(--gap-boarder) * 2);
    height: calc(100% - var(--gap-boarder) * 2);
    flex-wrap: wrap-reverse;
    overflow: auto;
}

/*left-side*/
.field-list-container {
    --top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    min-width: 300px;
    height: 100%;
    flex: 5 0;
}

.field-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding-top: var(--top);
}

.field-list-controls,
.field-items-controls {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-right: 10px;
}

/*right-side*/
.pdf-viewer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    min-width: 300px;
    height: 100%;
    flex: 8 0;
    align-self: start;
}
@media only screen and (max-width: 600px) {
    .pdf-viewer-container {
        height: 40%;
    }
}
.pdf-viewer {
    position: relative;
    width: 99%;
    height: 100%;
}

.dialog-upload{
    width: min(400px, 80%);
    height: min(200px, 80%);
    min-width: 200px;
    min-height: 150px;
}